@use "../../style/colors" as *;

.menu {
  transition-property: opacity;
  transition-duration: 150ms;
  transition-timing-function: ease;
  opacity: 1;
  z-index: 300;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 8px;
  z-index: 100;
  background-color: #ffffff;
  padding: 0.25rem;
  border: 0.0625rem solid rgb(233, 236, 239);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0.0625rem 0.1875rem,
    rgba(0, 0, 0, 0.05) 0px 1.25rem 1.5625rem -0.3125rem,
    rgba(0, 0, 0, 0.04) 0px 0.625rem 0.625rem -0.3125rem;
}
